/*
  Reset all elelements to border-box
*/
* {
  box-sizing: border-box;
}



/* 
  Background
*/
body {
  padding: 8px;
}

/* NOTE: Since triangles are made with CSS borders, and border property only accepts px,
   there is no way of doing a banckground with triangles that adjust automatically to window size changes
*/
.big_triangle_wrapper {
  position: absolute;
  width: 942px;
  height: 694px;
  margin-top: 5px;
  background: rgba(0,0,0,.3);
  opacity: .2;
}

.big_triangle-1 {
  position: absolute;
  top: 0;
  left: 0;
  border: 16px solid rgba(231,115,13);
  border-width: 0 0 694px 942px;
  border-top-color: transparent;
  border-left-color: transparent;
}

.big_triangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  border: 16px solid rgba(244,191,0);
  border-width: 0 0 694px 942px;
  border-bottom-color: transparent;
  border-right-color: transparent;
}



/*
  Main wrapper
*/
.main_wrapper {
  width: 942px;
  height: 694px; 
  /* For checking dynamic window size, uncomment below */
  /*
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  border-radius: 2px;
  box-shadow: 0px 0px 4px rgba(0,0,0,.5);
}

 

/*
  Window
*/
.window_wrapper {
  width: 450px;
  min-width: 300px;
  padding: 40px 30px 15px 30px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0,0,0,.3);
  border-radius: 8px;
}



/*
  Logo
*/
.logo_wrapper {
  margin-bottom: 40px;
}

.triangle_wrapper {
  position: relative;
  width: 32px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
}

.triangle-1 {
  position: absolute;
  top: 0;
  left: 0;
  border: 16px solid rgba(231,115,13);
  border-top-color: transparent;
  border-left-color: transparent;
}

.triangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  border: 16px solid rgba(244,191,0);
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.name {
  margin: 24px;
  text-align: center;
  color: #21315e;
  margin: 0;
}



/*
  Input form
*/
input {
  border-radius: 8px;
  width: 100%;
  height: 45px;
  line-height: 15px;
  padding: 15px;
  margin-bottom: 30px;
  color: #4f555f;
  border: 1px solid #e4e8ef;
  transition: .5s;
}

.password_wrapper {
  position: relative;
}

#toggle {
  color: #4f555f;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  height: 45px;
  position: absolute;
  right: 0;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  opacity: .5;
}

input:focus {
  border-color:#8ee2ac;
  box-shadow: 0px 0px 5px #8ee2ac;
}

input[type='button'] {
  color: white;
  background-color: #426fff;
  border: 1px solid blue;
}

input[type='button']:hover, input[type='button']:focus {
  background-color: #135ae5;
}

.small_link {
  text-decoration: none;
  font-size: 75%;
  color: #4f555f;
}

.bottom_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

